<div class="animated fadeIn">
  <div class="row">
   
    <div class="col-sm-10">
      <div class="card">
      <form [formGroup]="form" (ngSubmit)="submit(form)" novalidate >
        <div class="card-header">
          <strong>Add Project</strong>
          <small>Form</small>
        </div>
        <div class="card-body">
          
            <div class="form-group">
                <label for="company">Developer</label>
                <select id="select" class="form-control" formControlName="developer">
                <option value="1" selected>Developer1</option>      
                <option value="2">Developer2</option>      
                <option value="3">Developer3</option>      
                
                </select>                
              </div>
              <div class="form-group">
                  <label for="company">Project Manager</label>
                  <select id="select" class="form-control"  formControlName="project_manager">
                  <option value="1">Manager1</option>      
                  <option value="2" selected>Manager2</option>      
                  <option value="3">Manager3</option>      
                  
                  </select>                
                </div>
                <div class="form-group">
                    <label for="company">Estimator</label>
                    <select id="select" name="select" class="form-control" formControlName="estimator" >
                    <option value="1">Estimator1</option>      
                    <option value="2">Estimator2</option>      
                    <option value="3" selected>Estimator3</option>      
                    
                    </select>                
                  </div>
                  <div class="form-group">
                      <label for="company">Site Manager</label>
                      <select id="select" name="select" class="form-control"  formControlName="site_manager" >
                      <option value="1">Manager1</option>      
                      <option value="2" selected>Manager2</option>      
                      <option value="3">Manager3</option>      
                      
                      </select>                
                    </div>

           <div class="form-group">
            <label for="company">Architech</label>
            <input type="text" class="form-control" id="company" placeholder="project Name" formControlName="architech">
          </div>
          <div class="form-group">
              <label for="company">Engineer</label>
              <input type="text" class="form-control" id="company" placeholder="project Name" formControlName="engineer">
            </div>
            <div class="form-group">
                <label for="company">Building surveyor</label>
                <input type="text" class="form-control" id="company" placeholder="project Name" formControlName="building_surveyor">
              </div>
              <div class="form-group">
                  <label for="company">Quantity surveyor</label>
                  <input type="text" class="form-control" id="company" placeholder="project Name" formControlName="quantity_surveyor" >
                </div>
                <div class="form-group">
                    <label for="company">Superintendent</label>
                    <input type="text" class="form-control" id="company" placeholder="project Name" formControlName="superintendent" >
                  </div>
            <div class="pull-right">
              <button type="submit" class="btn btn-sm btn-primary" (click)="createProject()"><i class="fa fa-dot-circle-o"></i> Save </button>
              <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
            </div> 
            {{form.json}}
          </div><!--/.row-->
       </form> 
      </div>
    </div><!--/.col-->
  </div><!--/.row-->

</div>
