.page-item{
    cursor: pointer;
}
.talign{
    text-align: center;
}

.modal-dialog {
    max-width: 750px;
}

#desc {
    white-space: nowrap;
    width: 15em;
    overflow: hidden;
    text-overflow: ellipsis; 
}

#rev {
    white-space: nowrap;
    width: 3em;
    overflow: hidden;    
}
