.page-item{
    cursor: pointer;
}
.talign{
    text-align: center;
}

.modal-dialog {
    max-width: 750px;
}

#desc {
    white-space: nowrap;
    width: 20em;
    overflow: hidden;
    text-overflow: ellipsis; 
}