<div class="animated fadeIn">

    <div class="row">
        <div class="col-md-10">
          <div class="card">
            <div class="card-header">
              <strong>Role privilleges</strong>
            </div>
            <div class="card-body">
              <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="form-group row">
                  <label class="col-md-3 form-control-label">Roles</label>
                  <div class="col-md-9">
                      <select class="form-control" id="ccmonth" >
                          <option *ngFor="let role of roles" value= {{role.id}}>{{role.role_name}}</option></select>
<!--                           
                        <select [(ngModel)]="selectedCountry.id" (input)="onInput($event)">
                            <option *ngFor="#country of countries" value= {{country.id}}>{{country.name}}</option>
                          </select> -->
                  </div>
               </div>
               
                   
              </form>
            </div>
           
          </div>
        </div>
    </div>
  <div class="row">

      <div class="col-sm-12 col-md-6" *ngFor="let module of modules">
          <div class="card card-accent-primary">
            <div class="card-header">
             <strong>{{module.module_name}}</strong>
            </div>
            
            <div class="card-body">
                <label class="switch switch-text switch-pill switch-primary">
                  <input type="checkbox" class="switch-input" [checked]="module.create">
                  <span class="switch-label" data-on="On" data-off="Off"></span>
                  <span class="switch-handle"></span>
                </label>
                &nbsp;&nbsp;&nbsp;
                <label class="switch switch-text switch-pill switch-secondary">
                  <input type="checkbox" class="switch-input"[checked]="module.read">
                  <span class="switch-label" data-on="On" data-off="Off"></span>
                  <span class="switch-handle"></span>
                </label>
                &nbsp;&nbsp;&nbsp;
                <label class="switch switch-text switch-pill switch-success">
                  <input type="checkbox" class="switch-input" [checked]="module.update">
                  <span class="switch-label" data-on="On" data-off="Off"></span>
                  <span class="switch-handle"></span>
                </label>
                &nbsp;&nbsp;&nbsp; {{module.delete}}
                <label class="switch switch-text switch-pill switch-danger">
                  <input type="checkbox" class="switch-input" [checked]="module.delete">
                  <span class="switch-label" data-on="On" data-off="Off"></span>
                  <span class="switch-handle"></span>
                </label>
              </div>
          </div>
        </div><!--/.col-->

  </div> 

  
</div>
