<div class="animated fadeIn">
  <div class="row">
   
    <div class="col-sm-12">
        <form [formGroup]="form" (ngSubmit)="submit(form)" novalidate >
      <div class="card" >
        <div class="card-header">
            <div class="form-group row">
                <div class="col-md-9">
                  <strong>Project Scope</strong>
                </div>
                                 
              </div>        
             
          
        </div>
        <div class="card-body">

            <table class="table"> 
                <thead class="thead-inverse">
                    <tr>
                      <th>Items</th>
                      <th *ngFor="let item of people">Project Types / Building Class</th>
                    </tr>
              </thead>    
              <tbody >
              <tr *ngFor="let item of keyvalues" formArrayName="project_details">
              <th>{{item}}</th>
              <td *ngFor="let variation of form.controls.project_details['controls']; let i=index" [formGroupName]="i">
                  
                  <div *ngIf="item == 'project_type'"><input type="text" class="form-control mb-2 mb-sm-0" formControlName="project_type" disabled></div>
                 
                  <div *ngIf="item == 'building_class'"><input type="text" class="form-control mb-2 mb-sm-0"    formControlName="building_class" disabled></div>
                 
                  <div *ngIf="item == 'building_units'"><input type="text" class="form-control mb-2 mb-sm-0"   formControlName="building_units" disabled></div>
                

                  <div *ngIf="item == 'aluminium_windows'">
                    <select class="form-control"  formControlName="aluminium_windows">
                        <option value="">select option</option>
                        <option value="1">Type 1</option>
                        <option value="2">Type 2</option>
                        <option value="3">Type 3</option>
                        
                      </select> </div> 
                      <div *ngIf="item == 'aluminium_doors'"> <select class="form-control"  formControlName="aluminium_doors">
                          <option value="">select option</option>
                          <option value="1">Type 1</option>
                          <option value="2">Type 2</option>
                          <option value="3">Type 3</option>
                          
                        </select> </div>
                                           
                      
                        <div *ngIf="item == 'curtain_wall'"><select class="form-control"   formControlName="curtain_wall">
                            <option value="">select option</option>
                            <option value="1">Type 1</option>
                            <option value="2">Type 2</option>
                            <option value="3">Type 3</option>
                            
                          </select> </div> 

                          <div *ngIf="item == 'aluminium_louvres'"><select class="form-control" formControlName="aluminium_louvres"  >
                              <option value="">select option</option>
                              <option value="1">Type 1</option>
                              <option value="2">Type 2</option>
                              <option value="3">Type 3</option>
                              
                            </select> </div> 

                          <div *ngIf="item == 'kitchens'"><input type="text" class="form-control mb-2 mb-sm-0"    formControlName="kitchens" ></div>

                          
                          <div *ngIf="item == 'kitchenettes'"><input type="text" class="form-control mb-2 mb-sm-0"    formControlName="kitchenettes" ></div>

                          <div *ngIf="item == 'bedrooms'"><input type="text" class="form-control mb-2 mb-sm-0"    formControlName="bedrooms" ></div>

                          <div *ngIf="item == 'laundries'"><input type="text" class="form-control mb-2 mb-sm-0"    formControlName="laundries" ></div>
                         
                          <div *ngIf="item == 'bathrooms'"><input type="text" class="form-control mb-2 mb-sm-0"    formControlName="bathrooms" ></div>

                           <div *ngIf="item == 'ensuites'"><input type="text" class="form-control mb-2 mb-sm-0"    formControlName="ensuites" ></div>

                          <div *ngIf="item == 'balconies'"><input type="text" class="form-control mb-2 mb-sm-0"    formControlName="balconies" ></div>

                          <div *ngIf="item == 'storage'"><input type="text" class="form-control mb-2 mb-sm-0"    formControlName="storage" ></div>
                         
                          <div *ngIf="item == 'study'"><input type="text" class="form-control mb-2 mb-sm-0"    formControlName="study" ></div>

                          <div *ngIf="item == 'garages'"><input type="text" class="form-control mb-2 mb-sm-0"    formControlName="garages" ></div>

                          <div *ngIf="item == 'other'"><input type="text" class="form-control mb-2 mb-sm-0"    formControlName="other" ></div>
                          
                     

                </td> 
              
              </tr>   
            </tbody>          
              </table>

                  <div class="row">
                          <label class="col-md-3">Estimated Project Value:</label>
                          <div class="col-md-9">
                          
                          <input type="text" class="form-control mb-2 mb-sm-0" required value="585624" name="value" disabled="true">  
                          </div>
                  </div>
                  
                 
              
          </div><!--/.row-->

          
        </div>

        <div class="pull-right" style="margin:10px;">
            <button type="submit" class="btn btn-sm btn-primary" ><i class="fa fa-dot-circle-o"></i> Save </button>
            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban" ></i> Cancel</button>
        </div> 
        <pre>{{ form.value | json }}</pre>
        
      </form>  
    </div><!--/.col-->
  </div><!--/.row-->

</div>


<!-- <tr ng-repeat="(key, value) in people[0]">
    <th>{{key}}</th>
    <td ng-repeat="person in people">
      {{person[key]}}
    </td>
  </tr> -->