<div class="animated fadeIn">
  <div class="row">
   
    <div class="col-sm-12">
      <form>
      <div class="card" >
        <div class="card-header">
            <div class="form-group row">
                <div class="col-md-9">
                  <strong>Project Scope</strong>
                </div>
                                 
              </div>        
             
          
        </div>
        <div class="card-body">

            <table> 
              <tr *ngFor="let item of keyvalues">
              <th>{{item}}</th>
              <td *ngFor="let person of people">
                  {{person[item]}}
                </td>      
              </tr>           
              </table>
              

           
                <table class="table">
                    <thead class="thead-inverse">
                      <tr>
                        <th>Items</th>
                        <th>Project Types / Building Class</th>
                        <th>Project Types / Building Class</th>
                        <th>Project Types / Building Class</th>
                        <th>Project Types / Building Class</th>                                          
                      </tr>

                      <tr>
                        <th>#</th>
                        <th>1</th>
                        <th>2                     </th>
                         <th>3                        </th>
                         <th>4                        </th>  
                                                           
                      </tr>

                       <tr>
                        <th>Project Type</th>
                        <th><input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="Residential"  disabled>
                      </th>
                         <th><input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="Residential"  disabled>
                      </th>
                         <th><input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="Commercial"  disabled>
                      </th>  
                      <th><input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="Commercial"  disabled>
                      </th>   
                                      
                      </tr>
                         <tr>
                        <th>Building class</th>
                         <th><input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="Freestanding House"  disabled>
                      </th>  
                          <th><input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="Semi-detached House"  disabled>
                      </th>
                      <th><input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="Retail"  disabled>
                      </th>  
                      <th><input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="Office"  disabled>
                      </th>     
                      </tr>
                    <tr>
                        <th>building units</th>
                        <th>223</th>
                        <th>245                    </th>
                         <th>267                       </th>
                         <th>543                       </th>  
                                                           
                      </tr>
                    </thead>
                    <tbody>
                      <tr >
                      
                        <td scope="row">Aluminium windows</td>
                        <td><select name="building_class" class="form-control" required  >
                            <option value="">select option</option>
                            <option value="1">Type 1</option>
                            <option value="2">Type 2</option>
                            <option value="3">Type 3</option>
                            
                          </select>  </td>
                         <td><select name="building_class" class="form-control" required  >
                            <option value="">select option</option>
                            <option value="1">Type 1</option>
                            <option value="2">Type 2</option>
                            <option value="3">Type 3</option>
                            
                          </select>  </td>
                           <td><select name="building_class" class="form-control" required  >
                            <option value="">select option</option>
                            <option value="1">Type 1</option>
                            <option value="2">Type 2</option>
                            <option value="3">Type 3</option>
                            
                          </select>  </td>
                           <td><select name="building_class" class="form-control" required  >
                            <option value="">select option</option>
                            <option value="1">Type 1</option>
                            <option value="2">Type 2</option>
                            <option value="3">Type 3</option>
                            
                          </select>  </td>                      
                          
                      </tr>
                        <tr >
                      
                        <td scope="row">Aluminium Doors</td>
                        <td><select name="building_class" class="form-control" required  >
                            <option value="">select option</option>
                            <option value="1">Type 1</option>
                            <option value="2">Type 2</option>
                            <option value="3">Type 3</option>
                            
                          </select>  </td>
                         <td><select name="building_class" class="form-control" required  >
                            <option value="">select option</option>
                            <option value="1">Type 1</option>
                            <option value="2">Type 2</option>
                            <option value="3">Type 3</option>
                            
                          </select>  </td>
                           <td><select name="building_class" class="form-control" required  >
                            <option value="">select option</option>
                            <option value="1">Type 1</option>
                            <option value="2">Type 2</option>
                            <option value="3">Type 3</option>
                            
                          </select>  </td>
                           <td><select name="building_class" class="form-control" required  >
                            <option value="">select option</option>
                            <option value="1">Type 1</option>
                            <option value="2">Type 2</option>
                            <option value="3">Type 3</option>
                            
                          </select>  </td>                      
                          
                      </tr>
                        <tr >
                      
                        <td scope="row">Curtain Wall</td>
                        <td><select name="building_class" class="form-control" required  >
                            <option value="">select option</option>
                            <option value="1">Type 1</option>
                            <option value="2">Type 2</option>
                            <option value="3">Type 3</option>
                            
                          </select>  </td>
                         <td><select name="building_class" class="form-control" required  >
                            <option value="">select option</option>
                            <option value="1">Type 1</option>
                            <option value="2">Type 2</option>
                            <option value="3">Type 3</option>
                            
                          </select>  </td>
                           <td><select name="building_class" class="form-control" required  >
                            <option value="">select option</option>
                            <option value="1">Type 1</option>
                            <option value="2">Type 2</option>
                            <option value="3">Type 3</option>
                            
                          </select>  </td>
                           <td><select name="building_class" class="form-control" required  >
                            <option value="">select option</option>
                            <option value="1">Type 1</option>
                            <option value="2">Type 2</option>
                            <option value="3">Type 3</option>
                            
                          </select>  </td>                      
                          
                      </tr>
                        <tr >
                      
                        <td scope="row">Aluminium Louvres</td>
                        <td><select name="building_class" class="form-control" required  >
                            <option value="">select option</option>
                            <option value="1">Type 1</option>
                            <option value="2">Type 2</option>
                            <option value="3">Type 3</option>
                            
                          </select>  </td>
                         <td><select name="building_class" class="form-control" required  >
                            <option value="">select option</option>
                            <option value="1">Type 1</option>
                            <option value="2">Type 2</option>
                            <option value="3">Type 3</option>
                            
                          </select>  </td>
                           <td><select name="building_class" class="form-control" required  >
                            <option value="">select option</option>
                            <option value="1">Type 1</option>
                            <option value="2">Type 2</option>
                            <option value="3">Type 3</option>
                            
                          </select>  </td>
                           <td><select name="building_class" class="form-control" required  >
                            <option value="">select option</option>
                            <option value="1">Type 1</option>
                            <option value="2">Type 2</option>
                            <option value="3">Type 3</option>
                            
                          </select>  </td>                      
                          
                      </tr>
                          <tr >
                      
                        <td scope="row">Kitchens</td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>                    
                          
                      </tr>
                       <tr >
                      
                        <td scope="row">Kitchenettes</td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>                    
                          
                      </tr>
                       <tr >
                      
                        <td scope="row">Bedrooms</td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>                    
                          
                      </tr>
                       <tr >
                      
                        <td scope="row">Laundries</td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>                    
                          
                      </tr>
                      <tr >
                      
                        <td scope="row">Bathrooms</td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>                    
                          
                      </tr>
                      <tr >
                      
                        <td scope="row">Ensuites</td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>                    
                          
                      </tr>
                      <tr >
                      
                        <td scope="row">Balconies</td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>                    
                          
                      </tr>
                       <tr >
                      
                        <td scope="row">Storage</td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>                    
                          
                      </tr>
                       <tr >
                      
                        <td scope="row">Study</td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>                    
                          
                      </tr>
                       <tr >
                      
                        <td scope="row">Garages</td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>                    
                          
                      </tr>
                       <tr >
                      
                        <td scope="row">Other</td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>
                        <td> <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" value="356"  ></td>                    
                          
                      </tr>
                      
                    </tbody>
                  </table>

                  <div class="row">
                          <label class="col-md-3">Estimated Project Value:</label>
                          <div class="col-md-9">
                          
                          <input type="text" class="form-control mb-2 mb-sm-0" required value="585624" name="value" disabled="true">  
                          </div>
                  </div>
                  
                 
              
          </div><!--/.row-->

          
        </div>

        <div class="pull-right" style="margin:10px;">
            <button type="submit" class="btn btn-sm btn-primary" ><i class="fa fa-dot-circle-o"></i> Save </button>
            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban" ></i> Cancel</button>
        </div> 

      </form>  
    </div><!--/.col-->
  </div><!--/.row-->

</div>


<!-- <tr ng-repeat="(key, value) in people[0]">
    <th>{{key}}</th>
    <td ng-repeat="person in people">
      {{person[key]}}
    </td>
  </tr> -->