<!-- <div class="container">
    <h1>New Product</h1>
    <form [formGroup]="form" (ngSubmit)="save()">
          
      <div class="row" formArrayName="project_details">
        <div *ngFor="let variation of form.controls.project_details.controls; let i = index" [formGroupName]="i">
            <button type="button" (click)="addNewVar(i)" class="btn btn-primary">Add </button>
            <button type="button" (click)="removeVar(i)" class="btn btn-danger" *ngIf="form.controls.project_details.controls.length > 1">Delete </button>           
          <div class="form-group">
            <label>Project Type </label>
            <input formControlName="project_type" style="max-width:500px" class="form-control">
          </div>
          <table>
            <thead>
            <tr>
              <th>Building Class</th>
              <th>Building Units</th>
              <th>
                <button type="button" class="btn btn-success" (click)="addAttrRow(i)">++</button>
              </th>
            </tr>
            </thead>
            <tbody formArrayName="building_details">
              <tr *ngFor="let attribute of variation.get('building_details').controls; let ii = index;" [formGroupName]="ii">
                <td>
                  <input formControlName="building_class"/>
                </td>
                <td>
                  <input formControlName="building_units"/>
                </td>
                <td>
                    <button type="button" class="btn btn-success" (click)="addAttrRow(i)">+</button>
                  <button (click)="removeVAttr(ii)" class="btn btn-danger">X</button>                  
                </td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-danger" (click)="removeVariation(i)">Delete</button>
        </div>
      </div>
      <br>
      <p>
        <button type="submit" class="btn btn-primary">Save</button>
      </p>
    </form>
    <pre>{{ form.value | json }}</pre>
  </div>

-->

<!-- <div class="container">
    <h1>New Product</h1>
    <form [formGroup]="form" (ngSubmit)="save()">
          
      <div class="row" formArrayName="project_details">
        <div *ngFor="let variation of form.controls.project_details.controls; let i = index" [formGroupName]="i">
            <button type="button" (click)="addNewVar(i)" class="btn btn-primary">Add </button>
            <button type="button" (click)="removeVar(i)" class="btn btn-danger" *ngIf="form.controls.project_details.controls.length > 1">Delete </button>           
          <div class="form-group">
            <label>Project Type </label>
            <input formControlName="project_type" style="max-width:500px" class="form-control">
          </div>
          <table>
            <thead>
            <tr>
              <th>Building Class</th>
              <th>Building Units</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody formArrayName="building_details">
              <tr *ngFor="let attribute of variation.get('building_details').controls; let ii = index;" [formGroupName]="ii">
                <td>
                  <input formControlName="building_class"/>
                </td>
                <td>
                  <input formControlName="building_units"/>
                </td>
                <td>
                    <button type="button" class="btn btn-success" (click)="addAttrRow(i)">+</button>
                  <button (click)="removeVAttr(ii)" class="btn btn-danger">X</button>                  
                </td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-danger" (click)="removeVariation(i)">Delete</button>
        </div>
      </div>
      <br>
      <p>
        <button type="submit" class="btn btn-primary">Save</button>
      </p>
    </form>
    <pre>{{ form.value | json }}</pre>
  </div> -->

 <!-- ------------------------------   -->
  
 <div class="animated fadeIn">
  <div class="row">
   
    <div class="col-sm-12">
     
    <form [formGroup]="form" (ngSubmit)="submit(form)" >
      <div class="col-sm-6" formArrayName="project_details">
      <div class="card" *ngFor="let variation of form.controls.project_details['controls']; let i = index" [formGroupName]="i">
        <div class="card-header">
            <div class="form-group row">
                <div class="col-md-9">
                  <select id="project_type" name="project_type[]" class="form-control"  formControlName="project_type" >
                    <option value="">select option</option>
                  <option *ngFor="let row of projectTypes" value= {{row.id}}>{{row.name}}</option></select>                   
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-outline-success" (click)="addNewVar(i)"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-outline-danger" (click)="removeVar(i)"  *ngIf="form.controls.project_details.controls.length > 1"><i class="fa fa-trash-o" aria-hidden="true"></i></button>

                 </div> 
                 
              </div>        

           
          
        </div>
        <div class="card-body">
                <table class="table">
                    <thead class="thead-inverse">
                      <tr>
                        <th>#</th>
                        <th>Building Class</th>
                        <th>Building Units</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody formArrayName="building_details">
                      <tr *ngFor="let attribute of variation.get('building_details').controls; let ii = index;" [formGroupName]="ii">
                        <th scope="row">{{ii + 1}}</th>
                        <td>
                          <select id="select" name="building_class" class="form-control"  formControlName="building_class" >
                            <option value="">select option</option>
                          <option *ngFor="let row of buildingClass" value= {{row.id}}>{{row.name}}</option></select>    
                         </td>
                        <td>
                        <input type="text" class="form-control mb-2 mb-sm-0" name="building_units" formControlName="building_units" ></td>
                      
                        <td><button type="button" class="btn btn-outline-success" (click)="addAttrRow(i)"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-outline-danger" (click)="removeVAttr(i,ii)"  ><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
                      </tr>
                      
                    </tbody>
                  </table>

                  

              
          </div>

          
        </div>
        </div>
       
        <div class="pull-right" style="margin:10px;">
            <button type="submit" class="btn btn-sm btn-primary" ><i class="fa fa-dot-circle-o"></i> Save </button>
            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban" ></i> Cancel</button>
        </div> 

      </form>  

      <pre>{{ form.value | json }}</pre>
    </div>
  </div>

</div> 


 
