<div class="animated fadeIn">
    <div class="row">
     
      <div class="col-sm-10">
        <div class="card">
          <div class="card-header">
            <strong>Add License</strong>
            <small>Form</small>
          </div>
          <div class="card-body">
            <form (ngSubmit)="submit(form)" #form="ngForm" novalidate >           
            <div class="form-group">
              <label for="company">Licensee Trading Name</label>
              <input type="text" class="form-control" id="company" placeholder="License Trading Name"  [(ngModel)] = "model.license_trading_name" name = "license_trading_name" #license_trading_name="ngModel" required>
             
              <div style="color:red" 
              *ngIf="license_trading_name.errors && (license_trading_name.dirty || license_trading_name.touched || form.submitted)">
              <span class="help-block" *ngIf="license_trading_name.errors.required">
                  This field is required.
              </span>
              </div>
            </div>
            <div class="form-group">
              <label for="company">Company Name</label>
              <input type="text" class="form-control" id="company" placeholder="company name" [(ngModel)] = "model.company_name" name = "company_name" #company_name="ngModel" required>
              <div style="color:red" 
              *ngIf="company_name.errors && (company_name.dirty || company_name.touched || form.submitted)">
              <span class="help-block" *ngIf="company_name.errors.required">
                  This field is required.
              </span>
              </div>
            </div>
             <div class="form-group">
              <label for="company">Address 1</label>
              <textarea rows="" cols="" class="form-control" id="company" placeholder="Address" [(ngModel)] = "model.address1" name = "address1" #address1="ngModel" required></textarea> 

              <div style="color:red" 
              *ngIf="address1.errors && (address1.dirty || address1.touched || form.submitted)">
              <span class="help-block" *ngIf="address1.errors.required">
                  This field is required.
              </span>
              </div>
            </div>

            <div class="form-group">
                <label for="company">Address 2</label>
                <textarea rows="" cols="" class="form-control" id="company" placeholder="Address" [(ngModel)] = "model.address2" name="address2"></textarea> 
              </div>
              <div class="form-group">
                <label for="company">Town/City</label>
                <input type="text" class="form-control" id="company" placeholder="Town/City" [(ngModel)] = "model.city" name="city" #city="ngModel" required>
                <div style="color:red" 
                *ngIf="city.errors && (city.dirty || city.touched || form.submitted)">
                <span class="help-block" *ngIf="city.errors.required">
                    This field is required.
                </span>
                </div>
              </div>
               <div class="form-group">
                <label for="company">State</label>
                <select id="state" class="form-control form-control-lg"  [(ngModel)] = "model.state" name="state" #state="ngModel" required>
                    <option *ngFor="let row of states" value= {{row.id}}>{{row.name}}</option>
                    
                  </select>
                  <div style="color:red" 
                  *ngIf="state.errors && (state.dirty || state.touched || form.submitted)">
                  <span class="help-block" *ngIf="state.errors.required">
                      This field is required.
                  </span>
                  </div>

              </div>


            <div class="form-group">
              <label for="vat">Territory</label>
              <select id="select" name="select" class="form-control form-control-lg"  [(ngModel)] = "model.territory" name="territory" #territory="ngModel" required>
                  <option *ngFor="let row of territorys" value= {{row.id}}>{{row.name}}</option>
                </select>
                <div style="color:red" 
                *ngIf="territory.errors && (territory.dirty || territory.touched || form.submitted)">
                <span class="help-block" *ngIf="territory.errors.required">
                    This field is required.
                </span>
                </div>
            </div>
            <div class="form-group">
              <label for="street">CAN/ABN/NZ Biz Number
                </label>
              <input type="text" class="form-control" id="street" placeholder="CAN/ABN/NZ Biz Number" [(ngModel)] = "model.biz_number" name="biz_number" #biz_number="ngModel" required>
              <div style="color:red" 
              *ngIf="biz_number.errors && (biz_number.dirty || biz_number.touched || form.submitted)">
              <span class="help-block" *ngIf="biz_number.errors.required">
                  This field is required.
              </span>
              </div>
            </div>
              <div class="form-group ">
                <label for="city">Bank Name</label>
                <input type="text" class="form-control" id="city" placeholder="Bank Name" [(ngModel)] = "model.bank_name" name="bank_name">
              </div>
              <div class="form-group ">
                  <label for="city">Account Name</label>
                  <input type="text" class="form-control" id="city" placeholder="Account Name" [(ngModel)] = "model.account_name" name="account_name">
                </div>
                <div class="form-group ">
                    <label for="city">Short Code/BSB</label>
                    <input type="text" class="form-control" id="city" placeholder="Short Code/BSB" [(ngModel)] = "model.short_code" name="short_code">
                  </div>
              <div class="form-group ">
                <label for="postal-code">Account Number</label>
                <input type="text" class="form-control" id="postal-code" placeholder="Account Number" [(ngModel)] = "model.account_number" name="account_number">
              </div>
              <div class="pull-right">
                  <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Save </button>
                  <a [routerLink]="[ '/manageLicense']" > <button type="button" class="btn btn-sm btn-default"><i class="fa fa-ban"></i> Cancel </button></a>
              </div> 
            </form>  
            </div><!--/.row-->
          
        </div>
      </div><!--/.col-->
    </div><!--/.row-->
  
  </div>
  