

<div class="animated fadeIn">
    <div class="row">
        
      
     
      <!--/.col-->
      <div class="col-lg-12">
          
        <div class="card">
          
          <div class="card-header">

            <i class="fa fa-align-justify"></i> License List
            <div class="pull-right">
                <a [routerLink]="[ '/addLicense']" class="btn btn-sm btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i> Create</a>
              </div>
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Licensee Trading Name</th>
                  <th>Company Name</th>
                  <th>State</th>
                  <th>Territory</th>
                  <th>Bank Name</th>
                  <th>Account Name</th>
                  <th>Short Code/BSB</th>
                  <th>Actions</th>                  
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Yiorgos Avraamu</td>
                  <td>Corpus pvt ltd</td>
                  <td>CKN</td>
                  <td>AKL</td>
                  <td>ICICI </td>
                  <td>SB </td>
                  <td>ICICSB </td>
                  <td> <a class="btn btn-outline-success" [routerLink]="[ '/editLicense']"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    <button class="btn btn-outline-danger" (click)="deleteLicense()"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                  </td>
                  
                </tr>
                <tr>
                    <td>Yiorgos Avraamu</td>
                    <td>Corpus pvt ltd</td>
                    <td>CKN</td>
                    <td>AKL</td>
                    <td>ICICI </td>
                    <td>SB </td>
                    <td>ICICSB </td>
                    <td> <a class="btn btn-outline-success" [routerLink]="[ '/editLicense']"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                      <button class="btn btn-outline-danger" (click)="deleteLicense()"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </td>
                    
                  </tr>
                  <tr>
                      <td>Yiorgos Avraamu</td>
                      <td>Corpus pvt ltd</td>
                      <td>CKN</td>
                      <td>AKL</td>
                      <td>ICICI </td>
                      <td>SB </td>
                      <td>ICICSB </td>
                      <td> <a class="btn btn-outline-success" [routerLink]="[ '/editLicense']"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        <button class="btn btn-outline-danger" (click)="deleteLicense()"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                      </td>
                      
                    </tr>
                    <tr>
                        <td>Yiorgos Avraamu</td>
                        <td>Corpus pvt ltd</td>
                        <td>CKN</td>
                        <td>AKL</td>
                        <td>ICICI </td>
                        <td>SB </td>
                        <td>ICICSB </td>
                        <td> <a class="btn btn-outline-success" [routerLink]="[ '/editLicense']"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                          <button class="btn btn-outline-danger" (click)="deleteLicense()"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                        </td>
                        
                      </tr>
              </tbody>
            </table>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
    
  </div>
  