<div class="animated fadeIn">
    <div class="row">



        <!--/.col-->
        <div class="col-lg-12">

            <form [formGroup]="form" (ngSubmit)="submit(form)" novalidate>
                <div class="card">

                    <div class="card-header">

                        <i class="fa fa-align-justify"></i> {{project_name}} - Supply opportunities

                    </div>
                    <div class="card-body">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th>Items</th>
                                    <th>Interest</th>
                                    <th>Estimate </th>
                                    <th>Quated</th>
                                    <th>Status</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr >
                                    <th>All joinery </th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="all_joinery_interest" [attr.disabled]="all_joinery_greyout ? '' : null" (change)="joineryChange($event)">
                          <option value="1">Yes </option>
                          <option value="2">No</option>
                          <option value="3">Note</option>
                        </select>
                                    </td>
                                    <td>
                                        <my-date-picker name="all_joinery_quoted_date" [options]="myDatePickerOptions" formControlName="all_joinery_quoted_date" [attr.disabled]="all_joinery_greyout ? '' : null"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="all_joinery_estimated_date" [options]="myDatePickerOptions" formControlName="all_joinery_estimated_date" [attr.disabled]="all_joinery_greyout ? '' : null"></my-date-picker>

                                    </td>
                                    <td>
                                        <select id="select" class="form-control" formControlName="all_joinery_status">
                          <option *ngFor="let item of projectStatuss"  value="{{item.id}}" [attr.disabled]="all_joinery_greyout ? '' : null">{{item.name}} </option>
                        </select>
                                    </td>
                                </tr>

                                <tr [class.row-disabled]="kitchen_greyout=='disabled'">
                                    <th>Kitchen </th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="kitchen_interest" [attr.disabled]="kitchen_greyout ? '' : null">
                          <option value="1">Yes </option>
                          <option value="2">No</option>
                          <option value="3">Note</option>
                        </select>
                                    </td>

                                    <td>
                                        <my-date-picker name="kitchen_quoted_date" [options]="myDatePickerOptions" formControlName="kitchen_quoted_date" [attr.disabled]="kitchen_greyout ? '' : null"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="kitchen_estimated_date" [options]="myDatePickerOptions" formControlName="kitchen_estimated_date"  [attr.disabled]="kitchen_greyout ? '' : null"></my-date-picker>

                                    </td>

                                    <td>
                                        <select id="select" class="form-control" formControlName="kitchen_status" [attr.disabled]="kitchen_greyout ? '' : null">
                          <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                        </select>
                                    </td>
                                </tr>

                                <tr [class.row-disabled]="bedroom_greyout=='disabled'">
                                    <th>Bedroom</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="bedroom_interest" [attr.disabled]="bedroom_greyout ? '' : null">
                          <option value="1">Yes </option>
                          <option value="2">No</option>
                          <option value="3">Note</option>
                        </select>
                                    </td>
                                    <td>
                                        <my-date-picker name="bedroom_quoted_date" [options]="myDatePickerOptions" formControlName="bedroom_quoted_date" [attr.disabled]="bedroom_greyout ? '' : null"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="bedroom_estimated_date" [options]="myDatePickerOptions" formControlName="bedroom_estimated_date" [attr.disabled]="bedroom_greyout ? '' : null"></my-date-picker>

                                    </td>
                                    <td>
                                        <select id="select" class="form-control" formControlName="bedroom_status" [attr.disabled]="bedroom_greyout ? '' : null">
                          <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                        </select>
                                    </td>
                                </tr>

                                <tr [class.row-disabled]="ensuit_bathroom_greyout=='disabled'">
                                    <th>Ensuit/Bathroom</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="ensuit_bathroom_interest" [attr.disabled]="ensuit_bathroom_greyout ? '' : null">
                          <option value="1">Yes </option>
                          <option value="2">No</option>
                          <option value="3">Note</option>
                        </select>
                                    </td>

                                    <td>
                                        <my-date-picker name="ensuit_bathroom_quoted_date" [options]="myDatePickerOptions" formControlName="ensuit_bathroom_quoted_date" [attr.disabled]="ensuit_bathroom_greyout ? '' : null"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="ensuit_bathroom_estimated_date" [options]="myDatePickerOptions" formControlName="ensuit_bathroom_estimated_date" [attr.disabled]="ensuit_bathroom_greyout ? '' : null"></my-date-picker>

                                    </td>

                                    <td>
                                        <select id="select" class="form-control" formControlName="ensuit_bathroom_status" [attr.disabled]="ensuit_bathroom_greyout ? '' : null">
                          <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                        </select>
                                    </td>
                                </tr>

                                <tr [class.row-disabled]="laundry_greyout=='disabled'">
                                    <th>Laundry</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="laundry_interest" [attr.disabled]="laundry_greyout ? '' : null">
                          <option value="1">Yes </option>
                          <option value="2">No</option>
                          <option value="3">Note</option>
                        </select>
                                    </td>

                                    <td>
                                        <my-date-picker name="laundry_quoted_date" [options]="myDatePickerOptions" formControlName="laundry_quoted_date" [attr.disabled]="laundry_greyout ? '' : null"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="laundry_estimated_date" [options]="myDatePickerOptions" formControlName="laundry_estimated_date" [attr.disabled]="laundry_greyout ? '' : null"></my-date-picker>
                                    </td>

                                    <td>
                                        <select id="select" class="form-control" formControlName="laundry_status" [attr.disabled]="laundry_greyout ? '' : null">
                          <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                        </select>
                                    </td>
                                </tr>

                                <tr [class.row-disabled]="study_greyout=='disabled'">
                                    <th>Study</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="study_interest" [attr.disabled]="study_greyout ? '' : null">
                            <option value="1">Yes </option>
                            <option value="2">No</option>
                            <option value="3">Note</option>
                          </select>
                                    </td>

                                    <td>
                                        <my-date-picker name="study_quoted_date" [options]="myDatePickerOptions" formControlName="study_quoted_date" [attr.disabled]="study_greyout ? '' : null"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="study_estimated_date" [options]="myDatePickerOptions" formControlName="study_estimated_date" [attr.disabled]="study_greyout ? '' : null"></my-date-picker>
                                    </td>

                                    <td>
                                        <select id="select" class="form-control" formControlName="study_status" [attr.disabled]="study_greyout ? '' : null">
                            <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                          </select>
                                    </td>
                                </tr>




                                <tr [class.row-disabled]="aluminium_louvres_greyout=='disabled'">
                                    <th>Aluminium Louvres</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="aluminium_louvres_interest" [attr.disabled]="aluminium_louvres_greyout ? '' : null">
                          <option value="1">Yes </option>
                          <option value="2">No</option>
                          <option value="3">Note</option>
                        </select>
                                    </td>
                                    <td>
                                        <my-date-picker name="aluminium_louvres_quoted_date" [options]="myDatePickerOptions" formControlName="aluminium_louvres_quoted_date" [attr.disabled]="aluminium_louvres_greyout ? '' : null"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="aluminium_louvres_estimated_date" [options]="myDatePickerOptions" formControlName="aluminium_louvres_estimated_date" [attr.disabled]="aluminium_louvres_greyout ? '' : null"></my-date-picker>

                                    </td>
                                    <td>
                                        <select id="select" class="form-control" formControlName="aluminium_louvres_status" [attr.disabled]="aluminium_louvres_greyout ? '' : null">
                          <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                        </select>
                                    </td>
                                </tr>
                                <tr [class.row-disabled]="aluminium_windows_doors_greyout=='disabled'">
                                    <th>Aluminium windows/doors</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="aluminium_windows_doors_interest" [attr.disabled]="aluminium_windows_doors_greyout ? '' : null">
                          <option value="1">Yes </option>
                          <option value="2">No</option>
                          <option value="3">Note</option>
                        </select>
                                    </td>
                                    <td>
                                        <my-date-picker name="aluminium_windows_doors_quoted_date" [options]="myDatePickerOptions" formControlName="aluminium_windows_doors_quoted_date" [attr.disabled]="aluminium_windows_doors_greyout ? '' : null"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="aluminium_windows_doors_estimated_date" [options]="myDatePickerOptions" formControlName="aluminium_windows_doors_estimated_date" [attr.disabled]="aluminium_windows_doors_greyout ? '' : null"></my-date-picker>

                                    </td>
                                    <td>
                                        <select id="select" class="form-control" formControlName="aluminium_windows_doors_status" [attr.disabled]="aluminium_windows_doors_greyout ? '' : null">
                          <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                        </select>
                                    </td>
                                </tr>
                                <tr [class.row-disabled]="appliances_greyout=='disabled'">
                                    <th>Appliances</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="appliances_interest" [attr.disabled]="appliances_greyout ? '' : null">
                          <option value="1">Yes </option>
                          <option value="2">No</option>
                          <option value="3">Note</option>
                        </select>
                                    </td>
                                    <td>
                                        <my-date-picker name="appliances_quoted_date" [options]="myDatePickerOptions" formControlName="appliances_quoted_date" [attr.disabled]="appliances_greyout ? '' : null"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="appliances_estimated_date" [options]="myDatePickerOptions" formControlName="appliances_estimated_date" [attr.disabled]="appliances_greyout ? '' : null"></my-date-picker>

                                    </td>
                                    <td>
                                        <select id="select" class="form-control" formControlName="appliances_status" [attr.disabled]="appliances_greyout ? '' : null">
                          <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                        </select>
                                    </td>
                                </tr>

                                <tr [class.row-disabled]="balustrade_greyout=='disabled'">
                                    <th>Balustrade</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="balustrade_interest" [attr.disabled]="balustrade_greyout ? '' : null">
                          <option value="1">Yes </option>
                          <option value="2">No</option>
                          <option value="3">Note</option>
                        </select>
                                    </td>
                                    <td>
                                        <my-date-picker name="balustrade_quoted_date" [options]="myDatePickerOptions" formControlName="balustrade_quoted_date" [attr.disabled]="balustrade_greyout ? '' : null"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="balustrade_estimated_date" [options]="myDatePickerOptions" formControlName="balustrade_estimated_date" [attr.disabled]="balustrade_greyout ? '' : null"></my-date-picker>

                                    </td>
                                    <td>
                                        <select id="select" class="form-control" formControlName="balustrade_status" [attr.disabled]="balustrade_greyout ? '' : null">
                          <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                        </select>
                                    </td>
                                </tr>

                               

                                <tr [class.row-disabled]="benchtops_greyout=='disabled'">
                                    <th>Benchtops </th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="benchtops_interest" [attr.disabled]="benchtops_greyout ? '' : null">
                          <option value="1">Yes </option>
                          <option value="2">No</option>
                          <option value="3">Note</option>
                        </select>
                                    </td>
                                    <td>
                                        <my-date-picker name="benchtops_quoted_date" [options]="myDatePickerOptions" formControlName="benchtops_quoted_date" [attr.disabled]="benchtops_greyout ? '' : null"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="benchtops_estimated_date" [options]="myDatePickerOptions" formControlName="benchtops_estimated_date" [attr.disabled]="benchtops_greyout ? '' : null"></my-date-picker>

                                    </td>
                                    <td>
                                        <select id="select" class="form-control" formControlName="benchtops_status" [attr.disabled]="benchtops_greyout ? '' : null">
                          <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                        </select>
                                    </td>
                                </tr>

                                <tr [class.row-disabled]="bookcase_mediashelf_greyout=='disabled'">
                                    <th>Bookcase/Mediashelf </th>
                                    <td>
                 <select id="select" class="form-control" formControlName="bookcase_mediashelf_interest" [attr.disabled]="bookcase_mediashelf_greyout ? '' : null">
                          <option value="1">Yes </option>
                          <option value="2">No</option>
                          <option value="3">Note</option>
                        </select>
                                    </td>
                                    <td>
                                        <my-date-picker name="bookcase_mediashelf_quoted_date" [options]="myDatePickerOptions" formControlName="bookcase_mediashelf_quoted_date" [attr.disabled]="bookcase_mediashelf_greyout ? '' : null" ></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="bookcase_mediashelf_estimated_date" [options]="myDatePickerOptions" formControlName="bookcase_mediashelf_estimated_date" [attr.disabled]="bookcase_mediashelf_greyout ? '' : null"></my-date-picker>

                                    </td>

                                    <td>
                                        <select id="select" class="form-control" formControlName="bookcase_mediashelf_status" [attr.disabled]="bookcase_mediashelf_greyout ? '' : null">
                          <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                        </select>
                                    </td>
                                </tr>



                                <tr [class.row-disabled]="curtain_wall_greyout=='disabled'">
                                    <th>Curtain Wall</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="curtain_wall_interest" [attr.disabled]="curtain_wall_greyout ? '' : null">
                          <option value="1">Yes </option>
                          <option value="2">No</option>
                          <option value="3">Note</option>
                        </select>
                                    </td>
                                    <td>
                                        <my-date-picker name="curtain_wall_quoted_date" [options]="myDatePickerOptions" formControlName="curtain_wall_quoted_date" [attr.disabled]="curtain_wall_greyout ? '' : null"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="curtain_wall_estimated_date" [options]="myDatePickerOptions" formControlName="curtain_wall_estimated_date" [attr.disabled]="curtain_wall_greyout ? '' : null"></my-date-picker>

                                    </td>


                                    <td>
                                        <select id="select" class="form-control" formControlName="curtain_wall_status" [attr.disabled]="curtain_wall_greyout ? '' : null">
                          <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                        </select>
                                    </td>
                                </tr>

                                <tr [class.row-disabled]="desks_greyout=='disabled'">
                                    <th>Desks</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="desks_interest" [attr.disabled]="desks_greyout ? '' : null">
                          <option value="1">Yes </option>
                          <option value="2">No</option>
                          <option value="3">Note</option>
                        </select>
                                    </td>

                                    <td>
                                        <my-date-picker name="desks_quoted_date" [options]="myDatePickerOptions" formControlName="desks_quoted_date" [attr.disabled]="desks_greyout ? '' : null"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="desks_estimated_date" [options]="myDatePickerOptions" formControlName="desks_estimated_date" [attr.disabled]="desks_greyout ? '' : null"></my-date-picker>

                                    </td>

                                    <td>
                                        <select id="select" class="form-control" formControlName="desks_status" [attr.disabled]="desks_greyout ? '' : null">
                          <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                        </select>
                                    </td>
                                </tr>

                                

                                <tr [class.row-disabled]="flooring_greyout=='disabled'">
                                    <th>Flooring</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="flooring_interest" [attr.disabled]="flooring_greyout ? '' : null">
                          <option value="1">Yes </option>
                          <option value="2">No</option>
                          <option value="3">Note</option>
                        </select>
                                    </td>

                                    <td>
                                        <my-date-picker name="flooring_quoted_date" [options]="myDatePickerOptions" formControlName="flooring_quoted_date" [attr.disabled]="flooring_greyout ? '' : null"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="flooring_estimated_date" [options]="myDatePickerOptions" formControlName="flooring_estimated_date" [attr.disabled]="flooring_greyout ? '' : null"></my-date-picker>

                                    </td>

                                    <td>
                                        <select id="select" class="form-control" formControlName="flooring_status" [attr.disabled]="flooring_greyout ? '' : null">
                          <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                        </select>
                                    </td>
                                </tr>

                                <tr [class.row-disabled]="garage_doors_greyout=='disabled'">
                                    <th>Garage Doors</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="garage_doors_interest" [attr.disabled]="garage_doors_greyout ? '' : null">
                          <option value="1">Yes </option>
                          <option value="2">No</option>
                          <option value="3">Note</option>
                        </select>
                                    </td>

                                    <td>
                                        <my-date-picker name="garage_doors_quoted_date" [options]="myDatePickerOptions" formControlName="garage_doors_quoted_date" [attr.disabled]="garage_doors_greyout ? '' : null"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="garage_doors_estimated_date" [options]="myDatePickerOptions" formControlName="garage_doors_estimated_date" [attr.disabled]="garage_doors_greyout ? '' : null"></my-date-picker>

                                    </td>

                                    <td>
                                        <select id="select" class="form-control" formControlName="garage_doors_status" [attr.disabled]="garage_doors_greyout ? '' : null">
                          <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                        </select>
                                    </td>
                                </tr>

                                

                                

                                <tr [class.row-disabled]="other_greyout=='disabled'">
                                    <th>Other</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="other_interest" [attr.disabled]="other_greyout ? '' : null">
                            <option value="1">Yes </option>
                            <option value="2">No</option>
                            <option value="3">Note</option>
                          </select>
                                    </td>

                                    <td>
                                        <my-date-picker name="other_quoted_date" [options]="myDatePickerOptions" formControlName="other_quoted_date" [attr.disabled]="other_greyout ? '' : null"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="other_estimated_date" [options]="myDatePickerOptions" formControlName="other_estimated_date" [attr.disabled]="other_greyout ? '' : null"></my-date-picker>
                                    </td>

                                    <td>
                                        <select id="select" class="form-control" formControlName="other_status" [attr.disabled]="other_greyout ? '' : null">
                            <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                          </select>
                                    </td>
                                </tr>

                                <tr [class.row-disabled]="powder_room_toilet_greyout=='disabled'">
                                    <th>Powder Room/Toilet</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="powder_room_toilet_interest" [attr.disabled]="powder_room_toilet_greyout ? '' : null">
                            <option value="1">Yes </option>
                            <option value="2">No</option>
                            <option value="3">Note</option>
                          </select>
                                    </td>

                                    <td>
                                        <my-date-picker name="powder_room_toilet_quoted_date" [options]="myDatePickerOptions" formControlName="powder_room_toilet_quoted_date" [attr.disabled]="powder_room_toilet_greyout ? '' : null"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="powder_room_toilet_estimated_date" [options]="myDatePickerOptions" formControlName="powder_room_toilet_estimated_date" [attr.disabled]="powder_room_toilet_greyout ? '' : null"></my-date-picker>
                                    </td>

                                    <td>
                                        <select id="select" class="form-control" formControlName="powder_room_toilet_status" [attr.disabled]="powder_room_toilet_greyout ? '' : null">
                            <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                          </select>
                                    </td>
                                </tr>

                                <tr [class.row-disabled]="sanitaryware_greyout=='disabled'">
                                    <th>Sanitaryware</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="sanitaryware_interest" [attr.disabled]="sanitaryware_greyout ? '' : null">
                            <option value="1">Yes </option>
                            <option value="2">No</option>
                            <option value="3">Note</option>
                          </select>
                                    </td>

                                    <td>
                                        <my-date-picker name="sanitaryware_quoted_date" [options]="myDatePickerOptions" formControlName="sanitaryware_quoted_date" [attr.disabled]="sanitaryware_greyout ? '' : null"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="sanitaryware_estimated_date" [options]="myDatePickerOptions" formControlName="sanitaryware_estimated_date" [attr.disabled]="sanitaryware_greyout ? '' : null"></my-date-picker>
                                    </td>

                                    <td>
                                        <select id="select" class="form-control" formControlName="sanitaryware_status" [attr.disabled]="sanitaryware_greyout ? '' : null">
                            <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                          </select>
                                    </td>
                                </tr>

                                <tr [class.row-disabled]="sinks_tubs_basins_greyout=='disabled'">
                                    <th>Sinks/Tubs/Basins</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="sinks_tubs_basins_interest" [attr.disabled]="sinks_tubs_basins_greyout ? '' : null">
                            <option value="1">Yes </option>
                            <option value="2">No</option>
                            <option value="3">Note</option>
                          </select>
                                    </td>

                                    <td>
                                        <my-date-picker name="sinks_tubs_basins_quoted_date" [options]="myDatePickerOptions" formControlName="sinks_tubs_basins_quoted_date" [attr.disabled]="sinks_tubs_basins_greyout ? '' : null"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="sinks_tubs_basins_estimated_date" [options]="myDatePickerOptions" formControlName="sinks_tubs_basins_estimated_date" [attr.disabled]="sinks_tubs_basins_greyout ? '' : null"></my-date-picker>
                                    </td>

                                    <td>
                                        <select id="select" class="form-control" formControlName="sinks_tubs_basins_status" [attr.disabled]="sinks_tubs_basins_greyout ? '' : null">
                            <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                          </select>
                                    </td>
                                </tr>

                                <tr [class.row-disabled]="splashbacks_greyout=='disabled'">
                                    <th>Splashbacks</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="splashbacks_interest" [attr.disabled]="splashbacks_greyout ? '' : null">
                            <option value="1">Yes </option>
                            <option value="2">No</option>
                            <option value="3">Note</option>
                          </select>
                                    </td>

                                    <td>
                                        <my-date-picker name="splashbacks_quoted_date" [options]="myDatePickerOptions" formControlName="splashbacks_quoted_date" [attr.disabled]="splashbacks_greyout ? '' : null"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="splashbacks_estimated_date" [options]="myDatePickerOptions" formControlName="splashbacks_estimated_date"  [attr.disabled]="splashbacks_greyout ? '' : null" ></my-date-picker>
                                    </td>

                                    <td>
                                        <select id="select" class="form-control" formControlName="splashbacks_status" [attr.disabled]="splashbacks_greyout ? '' : null">
                            <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                          </select>
                                    </td>
                                </tr>

                                

                                <tr [class.row-disabled]="tapware_greyout=='disabled'">
                                    <th>Tapware</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="tapware_interest" [attr.disabled]="tapware_greyout ? '' : null">
                            <option value="1">Yes </option>
                            <option value="2">No</option>
                            <option value="3">Note</option>
                          </select>
                                    </td>

                                    <td>
                                        <my-date-picker name="tapware_quoted_date" [options]="myDatePickerOptions" formControlName="tapware_quoted_date" [attr.disabled]="tapware_greyout ? '' : null"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="tapware_estimated_date" [options]="myDatePickerOptions" formControlName="tapware_estimated_date" [attr.disabled]="tapware_greyout ? '' : null"></my-date-picker>
                                    </td>

                                    <td>
                                        <select id="select" class="form-control" formControlName="tapware_status" [attr.disabled]="tapware_greyout ? '' : null">
                            <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                          </select>
                                    </td>
                                </tr>

                                <tr [class.row-disabled]="wardrobes_greyout=='disabled'">
                                    <th>Wardrobes </th>
                                    <td>
                            <select id="select" class="form-control" formControlName="wardrobes_interest" [attr.disabled]="wardrobes_greyout ? '' : null">
                            <option value="1">Yes </option>
                            <option value="2">No</option>
                            <option value="3">Note</option>
                          </select>
                                    </td>

                                    <td>
                                        <my-date-picker name="wardrobes_quoted_date" [options]="myDatePickerOptions" formControlName="wardrobes_quoted_date" [attr.disabled]="wardrobes_greyout ? '' : null"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="wardrobes_estimated_date" [options]="myDatePickerOptions" formControlName="wardrobes_estimated_date" [attr.disabled]="wardrobes_greyout ? '' : null"></my-date-picker>
                                    </td>

                                    <td>
                                        <select id="select" class="form-control" formControlName="wardrobes_status" [attr.disabled]="wardrobes_greyout ? '' : null">
                            <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                          </select>
                                    </td>
                                </tr>





                                <!-- <tr *ngFor="let item of sidemenuItems; let i=index" >
                <td>{{item}} - {{i}}</td>
                <div *ngIf="model.aluminium_doors">
                <td>{{model.aluminium_doors | json}}</td>
                <td ><label class="switch switch-text switch-pill switch-success-outline-alt">
                          <input type="checkbox" class="switch-input" checked  >
                          <span class="switch-label" data-on="Yes" data-off="No"></span>
                          <span class="switch-handle"></span>
                        </label>

                  </td>
                 <td><input type="text" class="form-control" [(ngModel)] = "model.aluminium_doors.estimated_date" name = "estimated_date"></td>
                <td><input type="text" class="form-control" [(ngModel)] = "model.aluminium_doors.estimated_date" name = "estimated_date"> </td>
                <td><span class="badge badge-success">Preparing Quote</span> </td>
              </div>


              <div *ngIf="model.aluminium_windows">
                  <td>{{model.aluminium_windows | json}}</td>
                  <td ><label class="switch switch-text switch-pill switch-success-outline-alt">
                            <input type="checkbox" class="switch-input" checked  >
                            <span class="switch-label" data-on="Yes" data-off="No"></span>
                            <span class="switch-handle"></span>
                          </label>

                    </td>
                   <td><input type="text" class="form-control" [(ngModel)] = "model.aluminium_windows.estimated_date" name = "estimated_date"></td>
                  <td><input type="text" class="form-control"> </td>
                  <td><span class="badge badge-success">Preparing Quote</span> </td>
                </div>

              </tr> -->





                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="col-lg-6">

                    <div class="card">
                        <div class="card-header">
                            <strong>Client's Preferred Supply Terms</strong>
                           
                        </div>
                        <div class="card-body">

                            <div class="form-group">
                                <label for="company"></label>
                                <select id="select" name="territory" class="form-control" formControlName="territory">
                  <option *ngFor="let item of territories" value="{{item.id}}" >{{item.short_code}}</option>
                </select>
                            </div>

                            <div class="pull-right">
                                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Save </button>
                                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                            </div>

                        </div>
                        <div class="card-footer">
                            <strong>Potential Supply Value : {{project_quote | currency:'USD':true:'1.2-2'}}  </strong>
                        </div>
                        

                    </div>
                </div>
            </form>

            <!-- <pre>{{ form.value | json }}</pre> -->

        </div>

        <!--/.col-->
    </div>
    <!--/.row-->

</div>
