<div class="animated fadeIn">
    <div class="row">



        <!--/.col-->
        <div class="col-lg-12">

            <form [formGroup]="form" (ngSubmit)="submit(form)" novalidate>
                <div class="card">

                    <div class="card-header">

                        <i class="fa fa-align-justify"></i> {{project_name}} - Supply opportunities

                    </div>
                    <div class="card-body">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th>Items</th>
                                    <th>Interest</th>
                                    <th>Estimate </th>
                                    <th>Quated</th>
                                    <th>Status</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>All joinery</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="all_joinery_interest">
                          <option value="1">Yes </option>
                          <option value="2">No</option>
                          <option value="3">Note</option>
                        </select>
                                    </td>
                                    <td>
                                        <my-date-picker name="all_joinery_quoted_date" [options]="myDatePickerOptions" formControlName="all_joinery_quoted_date"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="all_joinery_estimated_date" [options]="myDatePickerOptions" formControlName="all_joinery_estimated_date"></my-date-picker>

                                    </td>
                                    <td>
                                        <select id="select" class="form-control" formControlName="all_joinery_status">
                          <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Aluminium Louvres</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="aluminium_louvres_interest">
                          <option value="1">Yes </option>
                          <option value="2">No</option>
                          <option value="3">Note</option>
                        </select>
                                    </td>
                                    <td>
                                        <my-date-picker name="aluminium_louvres_quoted_date" [options]="myDatePickerOptions" formControlName="aluminium_louvres_quoted_date"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="aluminium_louvres_estimated_date" [options]="myDatePickerOptions" formControlName="aluminium_louvres_estimated_date"></my-date-picker>

                                    </td>
                                    <td>
                                        <select id="select" class="form-control" formControlName="aluminium_louvres_status">
                          <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Aluminium windows/doors</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="aluminium_windows_doors_interest">
                          <option value="1">Yes </option>
                          <option value="2">No</option>
                          <option value="3">Note</option>
                        </select>
                                    </td>
                                    <td>
                                        <my-date-picker name="aluminium_windows_doors_quoted_date" [options]="myDatePickerOptions" formControlName="aluminium_windows_doors_quoted_date"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="aluminium_windows_doors_estimated_date" [options]="myDatePickerOptions" formControlName="aluminium_windows_doors_estimated_date"></my-date-picker>

                                    </td>
                                    <td>
                                        <select id="select" class="form-control" formControlName="aluminium_windows_doors_status">
                          <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Appliances</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="appliances_interest">
                          <option value="1">Yes </option>
                          <option value="2">No</option>
                          <option value="3">Note</option>
                        </select>
                                    </td>
                                    <td>
                                        <my-date-picker name="appliances_quoted_date" [options]="myDatePickerOptions" formControlName="appliances_quoted_date"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="appliances_estimated_date" [options]="myDatePickerOptions" formControlName="appliances_estimated_date"></my-date-picker>

                                    </td>
                                    <td>
                                        <select id="select" class="form-control" formControlName="appliances_status">
                          <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <th>Balustrade</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="balustrade_interest">
                          <option value="1">Yes </option>
                          <option value="2">No</option>
                          <option value="3">Note</option>
                        </select>
                                    </td>
                                    <td>
                                        <my-date-picker name="balustrade_quoted_date" [options]="myDatePickerOptions" formControlName="balustrade_quoted_date"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="balustrade_estimated_date" [options]="myDatePickerOptions" formControlName="balustrade_estimated_date"></my-date-picker>

                                    </td>
                                    <td>
                                        <select id="select" class="form-control" formControlName="balustrade_status">
                          <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <th>Bedroom</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="bedroom_interest">
                          <option value="1">Yes </option>
                          <option value="2">No</option>
                          <option value="3">Note</option>
                        </select>
                                    </td>
                                    <td>
                                        <my-date-picker name="bedroom_quoted_date" [options]="myDatePickerOptions" formControlName="bedroom_quoted_date"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="bedroom_estimated_date" [options]="myDatePickerOptions" formControlName="bedroom_estimated_date"></my-date-picker>

                                    </td>
                                    <td>
                                        <select id="select" class="form-control" formControlName="bedroom_status">
                          <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <th>Benchtops</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="benchtops_interest">
                          <option value="1">Yes </option>
                          <option value="2">No</option>
                          <option value="3">Note</option>
                        </select>
                                    </td>
                                    <td>
                                        <my-date-picker name="benchtops_quoted_date" [options]="myDatePickerOptions" formControlName="benchtops_quoted_date"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="benchtops_estimated_date" [options]="myDatePickerOptions" formControlName="benchtops_estimated_date"></my-date-picker>

                                    </td>
                                    <td>
                                        <select id="select" class="form-control" formControlName="benchtops_status">
                          <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <th>Bookcase/Mediashelf</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="bookcase_mediashelf_interest">
                          <option value="1">Yes </option>
                          <option value="2">No</option>
                          <option value="3">Note</option>
                        </select>
                                    </td>
                                    <td>
                                        <my-date-picker name="bookcase_mediashelf_quoted_date" [options]="myDatePickerOptions" formControlName="bookcase_mediashelf_quoted_date"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="bookcase_mediashelf_estimated_date" [options]="myDatePickerOptions" formControlName="bookcase_mediashelf_estimated_date"></my-date-picker>

                                    </td>

                                    <td>
                                        <select id="select" class="form-control" formControlName="bookcase_mediashelf_status">
                          <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                        </select>
                                    </td>
                                </tr>



                                <tr>
                                    <th>Curtain Wall</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="curtain_wall_interest">
                          <option value="1">Yes </option>
                          <option value="2">No</option>
                          <option value="3">Note</option>
                        </select>
                                    </td>
                                    <td>
                                        <my-date-picker name="curtain_wall_quoted_date" [options]="myDatePickerOptions" formControlName="curtain_wall_quoted_date"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="curtain_wall_estimated_date" [options]="myDatePickerOptions" formControlName="curtain_wall_estimated_date"></my-date-picker>

                                    </td>


                                    <td>
                                        <select id="select" class="form-control" formControlName="curtain_wall_status">
                          <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <th>Desks</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="desks_interest">
                          <option value="1">Yes </option>
                          <option value="2">No</option>
                          <option value="3">Note</option>
                        </select>
                                    </td>

                                    <td>
                                        <my-date-picker name="desks_quoted_date" [options]="myDatePickerOptions" formControlName="desks_quoted_date"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="desks_estimated_date" [options]="myDatePickerOptions" formControlName="desks_estimated_date"></my-date-picker>

                                    </td>

                                    <td>
                                        <select id="select" class="form-control" formControlName="desks_status">
                          <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <th>Ensuit/Bathroom</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="ensuit_bathroom_interest">
                          <option value="1">Yes </option>
                          <option value="2">No</option>
                          <option value="3">Note</option>
                        </select>
                                    </td>

                                    <td>
                                        <my-date-picker name="ensuit_bathroom_quoted_date" [options]="myDatePickerOptions" formControlName="ensuit_bathroom_quoted_date"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="ensuit_bathroom_estimated_date" [options]="myDatePickerOptions" formControlName="ensuit_bathroom_estimated_date"></my-date-picker>

                                    </td>

                                    <td>
                                        <select id="select" class="form-control" formControlName="ensuit_bathroom_status">
                          <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <th>Flooring</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="flooring_interest">
                          <option value="1">Yes </option>
                          <option value="2">No</option>
                          <option value="3">Note</option>
                        </select>
                                    </td>

                                    <td>
                                        <my-date-picker name="flooring_quoted_date" [options]="myDatePickerOptions" formControlName="flooring_quoted_date"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="flooring_estimated_date" [options]="myDatePickerOptions" formControlName="flooring_estimated_date"></my-date-picker>

                                    </td>

                                    <td>
                                        <select id="select" class="form-control" formControlName="flooring_status">
                          <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <th>Garage Doors</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="garage_doors_interest">
                          <option value="1">Yes </option>
                          <option value="2">No</option>
                          <option value="3">Note</option>
                        </select>
                                    </td>

                                    <td>
                                        <my-date-picker name="garage_doors_quoted_date" [options]="myDatePickerOptions" formControlName="garage_doors_quoted_date"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="garage_doors_estimated_date" [options]="myDatePickerOptions" formControlName="garage_doors_estimated_date"></my-date-picker>

                                    </td>

                                    <td>
                                        <select id="select" class="form-control" formControlName="garage_doors_status">
                          <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <th>Kitchen</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="kitchen_interest">
                          <option value="1">Yes </option>
                          <option value="2">No</option>
                          <option value="3">Note</option>
                        </select>
                                    </td>

                                    <td>
                                        <my-date-picker name="kitchen_quoted_date" [options]="myDatePickerOptions" formControlName="kitchen_quoted_date"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="kitchen_estimated_date" [options]="myDatePickerOptions" formControlName="kitchen_estimated_date"></my-date-picker>

                                    </td>

                                    <td>
                                        <select id="select" class="form-control" formControlName="kitchen_status">
                          <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <th>Laundry</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="laundry_interest">
                          <option value="1">Yes </option>
                          <option value="2">No</option>
                          <option value="3">Note</option>
                        </select>
                                    </td>

                                    <td>
                                        <my-date-picker name="laundry_quoted_date" [options]="myDatePickerOptions" formControlName="laundry_quoted_date"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="laundry_estimated_date" [options]="myDatePickerOptions" formControlName="laundry_estimated_date"></my-date-picker>
                                    </td>

                                    <td>
                                        <select id="select" class="form-control" formControlName="laundry_status">
                          <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <th>Other</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="other_interest">
                            <option value="1">Yes </option>
                            <option value="2">No</option>
                            <option value="3">Note</option>
                          </select>
                                    </td>

                                    <td>
                                        <my-date-picker name="other_quoted_date" [options]="myDatePickerOptions" formControlName="other_quoted_date"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="other_estimated_date" [options]="myDatePickerOptions" formControlName="other_estimated_date"></my-date-picker>
                                    </td>

                                    <td>
                                        <select id="select" class="form-control" formControlName="other_status">
                            <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                          </select>
                                    </td>
                                </tr>

                                <tr>
                                    <th>Powder Room/Toilet</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="powder_room_toilet_interest">
                            <option value="1">Yes </option>
                            <option value="2">No</option>
                            <option value="3">Note</option>
                          </select>
                                    </td>

                                    <td>
                                        <my-date-picker name="powder_room_toilet_quoted_date" [options]="myDatePickerOptions" formControlName="powder_room_toilet_quoted_date"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="powder_room_toilet_estimated_date" [options]="myDatePickerOptions" formControlName="powder_room_toilet_estimated_date"></my-date-picker>
                                    </td>

                                    <td>
                                        <select id="select" class="form-control" formControlName="powder_room_toilet_status">
                            <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                          </select>
                                    </td>
                                </tr>

                                <tr>
                                    <th>Sanitaryware</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="sanitaryware_interest">
                            <option value="1">Yes </option>
                            <option value="2">No</option>
                            <option value="3">Note</option>
                          </select>
                                    </td>

                                    <td>
                                        <my-date-picker name="sanitaryware_quoted_date" [options]="myDatePickerOptions" formControlName="sanitaryware_quoted_date"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="sanitaryware_estimated_date" [options]="myDatePickerOptions" formControlName="sanitaryware_estimated_date"></my-date-picker>
                                    </td>

                                    <td>
                                        <select id="select" class="form-control" formControlName="sanitaryware_status">
                            <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                          </select>
                                    </td>
                                </tr>

                                <tr>
                                    <th>Sinks/Tubs/Basins</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="sinks_tubs_basins_interest">
                            <option value="1">Yes </option>
                            <option value="2">No</option>
                            <option value="3">Note</option>
                          </select>
                                    </td>

                                    <td>
                                        <my-date-picker name="sinks_tubs_basins_quoted_date" [options]="myDatePickerOptions" formControlName="sinks_tubs_basins_quoted_date"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="sinks_tubs_basins_estimated_date" [options]="myDatePickerOptions" formControlName="sinks_tubs_basins_estimated_date"></my-date-picker>
                                    </td>

                                    <td>
                                        <select id="select" class="form-control" formControlName="sinks_tubs_basins_status">
                            <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                          </select>
                                    </td>
                                </tr>

                                <tr>
                                    <th>Splashbacks</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="splashbacks_interest">
                            <option value="1">Yes </option>
                            <option value="2">No</option>
                            <option value="3">Note</option>
                          </select>
                                    </td>

                                    <td>
                                        <my-date-picker name="splashbacks_quoted_date" [options]="myDatePickerOptions" formControlName="splashbacks_quoted_date"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="splashbacks_estimated_date" [options]="myDatePickerOptions" formControlName="splashbacks_estimated_date"></my-date-picker>
                                    </td>

                                    <td>
                                        <select id="select" class="form-control" formControlName="splashbacks_status">
                            <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                          </select>
                                    </td>
                                </tr>

                                <tr>
                                    <th>Study</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="study_interest">
                            <option value="1">Yes </option>
                            <option value="2">No</option>
                            <option value="3">Note</option>
                          </select>
                                    </td>

                                    <td>
                                        <my-date-picker name="study_quoted_date" [options]="myDatePickerOptions" formControlName="study_quoted_date"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="study_estimated_date" [options]="myDatePickerOptions" formControlName="study_estimated_date"></my-date-picker>
                                    </td>

                                    <td>
                                        <select id="select" class="form-control" formControlName="study_status">
                            <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                          </select>
                                    </td>
                                </tr>

                                <tr>
                                    <th>Tapware</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="tapware_interest">
                            <option value="1">Yes </option>
                            <option value="2">No</option>
                            <option value="3">Note</option>
                          </select>
                                    </td>

                                    <td>
                                        <my-date-picker name="tapware_quoted_date" [options]="myDatePickerOptions" formControlName="tapware_quoted_date"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="tapware_estimated_date" [options]="myDatePickerOptions" formControlName="tapware_estimated_date"></my-date-picker>
                                    </td>

                                    <td>
                                        <select id="select" class="form-control" formControlName="tapware_status">
                            <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                          </select>
                                    </td>
                                </tr>

                                <tr>
                                    <th>Wardrobes</th>
                                    <td>
                                        <select id="select" class="form-control" formControlName="wardrobes_interest">
                            <option value="1">Yes </option>
                            <option value="2">No</option>
                            <option value="3">Note</option>
                          </select>
                                    </td>

                                    <td>
                                        <my-date-picker name="wardrobes_quoted_date" [options]="myDatePickerOptions" formControlName="wardrobes_quoted_date"></my-date-picker>
                                    </td>
                                    <td>
                                        <my-date-picker name="wardrobes_estimated_date" [options]="myDatePickerOptions" formControlName="wardrobes_estimated_date"></my-date-picker>
                                    </td>

                                    <td>
                                        <select id="select" class="form-control" formControlName="wardrobes_status">
                            <option *ngFor="let item of projectStatuss"  value="{{item.id}}" >{{item.name}} </option>
                          </select>
                                    </td>
                                </tr>





                                <!-- <tr *ngFor="let item of sidemenuItems; let i=index" >
                <td>{{item}} - {{i}}</td>
                <div *ngIf="model.aluminium_doors">
                <td>{{model.aluminium_doors | json}}</td>
                <td ><label class="switch switch-text switch-pill switch-success-outline-alt">
                          <input type="checkbox" class="switch-input" checked  >
                          <span class="switch-label" data-on="Yes" data-off="No"></span>
                          <span class="switch-handle"></span>
                        </label>                                         
                     
                  </td>
                 <td><input type="text" class="form-control" [(ngModel)] = "model.aluminium_doors.estimated_date" name = "estimated_date"></td>
                <td><input type="text" class="form-control" [(ngModel)] = "model.aluminium_doors.estimated_date" name = "estimated_date"> </td> 
                <td><span class="badge badge-success">Preparing Quote</span> </td>
              </div>
              

              <div *ngIf="model.aluminium_windows">
                  <td>{{model.aluminium_windows | json}}</td>
                  <td ><label class="switch switch-text switch-pill switch-success-outline-alt">
                            <input type="checkbox" class="switch-input" checked  >
                            <span class="switch-label" data-on="Yes" data-off="No"></span>
                            <span class="switch-handle"></span>
                          </label>                                         
                       
                    </td>
                   <td><input type="text" class="form-control" [(ngModel)] = "model.aluminium_windows.estimated_date" name = "estimated_date"></td>
                  <td><input type="text" class="form-control"> </td> 
                  <td><span class="badge badge-success">Preparing Quote</span> </td>
                </div>

              </tr> -->





                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="col-lg-6">

                    <div class="card">
                        <div class="card-header">
                            <strong>Supply Items</strong>
                            <small>Form</small>
                        </div>
                        <div class="card-body">

                            <div class="form-group">
                                <label for="company">Territory</label>
                                <select id="select" name="territory" class="form-control" formControlName="territory">
                  <option *ngFor="let item of territories" value="{{item.id}}" >{{item.short_code}}</option>
                </select>
                            </div>

                            <div class="pull-right">
                                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Save </button>
                                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                            </div>

                        </div>
                        <!--/.row-->

                    </div>
                </div>
            </form>

            <pre>{{ form.value | json }}</pre>

        </div>

        <!--/.col-->
    </div>
    <!--/.row-->

</div>