<div class="sidebar">
  <app-sidebar-header></app-sidebar-header>
  <app-sidebar-form></app-sidebar-form>
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Dashboard </a>
      </li>
      <li class="nav-item nav-dropdown" *ngIf="roleAccess && roleAccess.indexOf('/masters') !== -1" routerLinkActive="open" appNavDropdown >
          <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-puzzle"></i> Masters</a>
          <ul class="nav-dropdown-items">
            
            <!-- <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" [routerLink]="['/masters/category']"><i class="icon-puzzle"></i> Category</a>
              </li>
            
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/masters/subCategory']"><i class="icon-puzzle"></i> Sub Category</a>
              </li> -->

            <li class="nav-item" *ngIf="roleAccess.indexOf('/masters/territory') !== -1">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/masters/territory']"><i class="icon-puzzle"></i> Territory</a>
            </li>
            <li class="nav-item" *ngIf="roleAccess.indexOf('/masters/state') !== -1">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/masters/state']"><i class="icon-puzzle"></i> State </a>
            </li>
            <li class="nav-item" *ngIf="roleAccess.indexOf('/masters/title') !== -1">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/masters/title']"><i class="icon-puzzle"></i> Title</a>
            </li>
            <li class="nav-item" *ngIf="roleAccess.indexOf('/masters/clientType') !== -1">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/masters/clientType']"><i class="icon-puzzle"></i> Client Type</a>
            </li>
            <!-- <li class="nav-item" *ngIf="roleAccess.indexOf('/masters/clientSize') !== -1">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/masters/clientSize']"><i class="icon-puzzle"></i> Client Size</a>
            </li> -->
            <li class="nav-item" *ngIf="roleAccess.indexOf('/masters/projectType') !== -1">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/masters/projectType']"><i class="icon-puzzle"></i> Project Type</a>
            </li>
            <li class="nav-item" *ngIf="roleAccess.indexOf('/masters/buildingClass') !== -1">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/masters/buildingClass']"><i class="icon-puzzle"></i> Building Class</a>
            </li>
            <!-- <li class="nav-item" >
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/masters/items']"><i class="icon-puzzle"></i> Items</a>
            </li> -->

            <li class="nav-item" *ngIf="roleAccess.indexOf('/masters/projectScope') !== -1">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/masters/projectScope']"><i class="icon-puzzle"></i> Project Scope</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/masters/projectScopeConfigure']"><i class="icon-puzzle"></i> Project Scope Configure</a>
            </li>
           
          </ul>
        </li>
        
      <li class="nav-item" *ngIf="roleAccess && roleAccess.indexOf('/manageUsers') !== -1">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/manageUsers']"><i class="icon-user"></i> Manage Users </a>
      </li>
       <li class="nav-item" *ngIf="roleAccess && roleAccess.indexOf('/manageRoles') !== -1">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/manageRoles']"><i class="fa fa-id-badge"></i> Manage Roles </a>
      </li>

      <!--<li class="nav-item" *ngIf="roleAccess.indexOf('/manageModules') !== -1">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/manageRoles']"><i class="fa fa-id-badge"></i> Manage Modules </a>
      </li>

      <li class="nav-item">
            <a class="nav-link" *ngIf="roleAccess.indexOf('rolePrivilleges') !== -1" routerLinkActive="active" [routerLink]="['/rolePrivilleges']"><i class="fa fa-cubes"></i> Role Privilleges</a>
          </li>-->
      <li class="nav-item" *ngIf="roleAccess && roleAccess.indexOf('/manageLicense') !== -1">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/manageLicense']"><i class="fa fa-id-card"></i> Manage License </a>
      </li>

      <li class="nav-item" *ngIf="roleAccess && roleAccess.indexOf('/manageClient') !== -1">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/manageClient']"><i class="fa fa-briefcase"></i> Manage Clients </a>
        </li> 

        <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
          <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-puzzle"></i> Project</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/manageProject']"><i class="icon-user"></i> Manage Project </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/projectTeam']"><i class="icon-puzzle"></i> Project Team </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/projectScope']"><i class="icon-puzzle"></i> Project Scope</a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/supplyItems']"><i class="icon-puzzle"></i> Supply Items</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/projectDocs']"><i class="icon-puzzle"></i> Project Docs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/additionalInfo']"><i class="icon-puzzle"></i> Additional Info</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/projectNote']"><i class="icon-puzzle"></i> Project Note</a>
            </li>
          </ul>
        </li>

        <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
          <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-puzzle"></i> Reports</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/projectDetailReport']"><i class="icon-user"></i> Project  Details </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/clientReport']"><i class="icon-puzzle"></i> Client Report </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/projectScopeReport']"><i class="icon-puzzle"></i> Project Scope Report</a>
            </li>           
           
          </ul>
        </li>

     

      <!--<li class="nav-item" *ngIf="roleAccess.indexOf('/components/forms') !== -1">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/forms']"><i class="icon-puzzle"></i> Forms</a>
      </li> -->

      <!-- <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/charts']"><i class="icon-pie-chart"></i> Charts</a>
      </li>

      <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/modals']"><i class="icon-puzzle"></i> Modals</a>
          </li> -->
   
     

      <!-- <li class="divider"></li>
      <li class="nav-title">
        UI Elements
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/login']"><i class="icon-star"></i> Login</a>
      </li>
      
      <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-puzzle"></i> Components</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/buttons']"><i class="icon-puzzle"></i> Buttons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/social-buttons']"><i class="icon-puzzle"></i> Social Buttons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/cards']"><i class="icon-puzzle"></i> Cards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/forms']"><i class="icon-puzzle"></i> Forms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/modals']"><i class="icon-puzzle"></i> Modals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/switches']"><i class="icon-puzzle"></i> Switches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/tables']"><i class="icon-puzzle"></i> Tables</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/tabs']"><i class="icon-puzzle"></i> Tabs</a>
          </li>
        </ul>
      </li>
      
      <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-star"></i> Icons</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/icons/font-awesome']"><i class="icon-star"></i> Font Awesome<span class="badge badge-secondary">4.7</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/icons/simple-line-icons']"><i class="icon-star"></i> Simple Line Icons</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/widgets']"><i class="icon-calculator"></i> Widgets <span class="badge badge-info">NEW</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/charts']"><i class="icon-pie-chart"></i> Charts</a>
      </li>
      <li class="divider"></li>
      <li class="nav-title">
        Extras
      </li>
      <li class="nav-item nav-dropdown" appNavDropdown>
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-star"></i> Pages</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/login']"><i class="icon-star"></i> Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/register']"><i class="icon-star"></i> Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/404']"><i class="icon-star"></i> Error 404</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/500']"><i class="icon-star"></i> Error 500</a>
          </li>
        </ul>
      </li> -->
      <!-- <li class="nav-item mt-auto">
        <a class="nav-link nav-link-success" href="http://coreui.io/angular/"><i class="icon-cloud-download"></i> Download CoreUI</a>
      </li> -->
    </ul>
  </nav>
  <app-sidebar-footer></app-sidebar-footer>
  <app-sidebar-minimizer></app-sidebar-minimizer>
</div>
